importFrom(S4Vectors, isSingleString)
importFrom(httr, GET, content)
importFrom(XML, xmlValue)

export(clean,
       cleanDataPkg,
       makeBins,
       emailExistingUser,
       emailNewUser,
       requestNewSvnAccountFromScicomp,
       existingSvnUsers,
       svnUserMatches,
       installDeps,
       getPackageTotals,
       plotPackageTotals,
       getPackageDeltas,
       generatePermissionEdits,
       untarAllTarballs,
       filterIssues,
       coneOfShame,
       readyToAdd,
       rebuildIssueTarball,
       removeDeadTrackerIssue,
       creditworthy, 
       getPackageRange,
       getEmailAddressesToWarnPkgMaintainers,
       compareReleases,
       getDescriptions, 
       preacceptedToAccepted,
       failmail )
